@charset "utf-8";

/* 
Base Style
 */
body {
    
    font-family: 'Noto Sans JP', "Helvetica Neue", "Helvetica", "Hiragino Sans", "Hiragino Kaku Gothic ProN", "Arial", "Yu Gothic", "Meiryo", sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
}

/* 
section 
*/
.section {
    padding: 36px 16px 32px;
   
}

.section-headline1 {
    text-align: center;
    font-size: 40px;
    color: #ffffff;
    font-weight: bold;
    background-color: #556b2f;
    margin: 0 0 40px;
}


.section.section-secondary {
    background-color: #faf0e6;
}
.section-headline2 {
    text-align: center;
    font-size: 32px;
    font-weight: bold;
    color: #8b4513;
    background-color: #f5deb3;
    margin: 0 0 40px;
}


/*
 about 
 */
.about{
    margin: 0;
    display: flex;
}
/* .about-image {} */
.about-caption {
    padding-left: 16px;
}
.about-headline1  {
    margin: 0 0 20px;
    font-size: 32px
}
/* .about-description{} */


.section.section-secondary.section-subheadline {
    background-color: #f4a460;
}


.grid {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.grid-item {
    list-style: none;
}
.grid-col-2 > .grid-item {
    width: 50%;
}
.grid-col-3 > .grid-item {
    width: 33.3%;
}            
.grid-col-4 > .grid-item {
    width: 25%;
}

.feature {
    text-align: center;
    padding: 15px;
}
.feature-headline {
    font-weight: bold;
    margin: 0 0 8px;
}
.feature-img {
    margin: 0 0 8px;
}
.feature-description {
    margin: 0;
    text-align: center;
}



.avator {
    display: flex;
}
.contact {
    list-style: none;
}

.contact-name {
    margin: 12px 8px 8px 0px;

}

.time {
    font-size: 12px;
    padding-top: 8px;
    padding-left: 40px;
}


